# Common Visual Studio and .NET files
[Bb]in/
[Oo]bj/
.vs/
*.vspscc
*.vssscc
*.suo
*.user
*.build-amd64.props
*.build-amd64.targets
*.build-x86.props
*.build-x86.targets
*.cache
*.csproj.user
*.log
*.tlog
*.trx
*.dll
*.exe
*.pdb
*.nupkg
*.snk
*.DS_Store

# WinHome Specific
winhome.state.json
config.yaml
files/
coverage/
TestResults/
appsettings.Development.json

# devenv
.devenv/
devenv.local.nix
devenv.nix
devenv.yaml
devenv.lock.json

# DevContainers
!.devcontainer/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.gemini/
gha-creds-*.json
